name: CI Frontend react

on: 
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Use node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Tests
        run: npm test -- --ci

      - name: Run Linter
        run: npm run lint

  build-image:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/frontend-react"
          COMMIT_TAG="${{ github.sha }}"
          SHORT_TAG="${COMMIT_TAG:0:7}"

          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$SHORT_TAG .

          echo "SHORT_TAG=$SHORT_TAG" >> $GITHUB_ENV

      - name: Push Docker image
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/frontend-react"

          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${SHORT_TAG}
